@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.logo{
  font-family: 'Tangerine', cursive;
  @apply text-6xl text-center
}

.hyper{
  @apply text-indigo-500;
}

.glass{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 h-auto min-w-[45%] rounded-3xl py-6 px-6 my-12 mx-4;
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-indigo-400;
}

.profile_img_small{
  @apply border-2 border-gray-100 w-[50px] h-[50px] rounded-full shadow-md cursor-pointer;
  @apply hover:border-indigo-300;
}

.icon{
  @apply border-2 border-gray-100 w-[60px] h-[60px] rounded-full shadow-md cursor-pointer;
  @apply hover:border-indigo-300 p-2 mx-4;
}

.textbox{
    @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg text-gray-500;
    @apply focus:outline-none;
    @apply h-[100px] md:h-auto
}

.textbox2{
  @apply border-0 px-5 md:py-2 py-0 w-full text-lg shadow-sm text-gray-700 bg-[rgba(255,255,255,0.4)];
  @apply focus:outline-none;
  @apply h-[50px] md:h-auto
}

.btn{
    @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover{
    background-color: #ff6a6a;
}

input[type='file']{
    display: none;
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 12px;
	background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
  }

  .truncateLines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgb(36, 46, 81);
  }

  .truncateLines:hover {
    @apply text-indigo-500;
  }

@media(max-width: 1000px){
    .glass{
        background: rgba(255, 255, 255, 0.55);
        border: 0;
        border-radius: 0;
        backdrop-filter: blur(7.1px);
        @apply  h-[100%] min-w-[100%] py-12 px-6 m-0;
    }

    .tooltip:hover + .tooltiptext {
      visibility: visible;
      display: block;
      @apply my-2 bg-gray-200 rounded-lg p-2;
    }

    .tooltiptext {
      visibility: hidden;
      display: none;
    }
}

@media(min-width: 1000px){
  .tooltip {
    position: relative;
    /* Add your other tooltip styles here */
  }
  
  .tooltiptext {
    visibility: hidden;
    opacity: 25%;
    transition: opacity .5s linear;
    text-align: center;
    position: absolute;
    margin: auto;
    text-align: left;
    width: 25em;
    @apply bg-slate-800 text-gray-300 px-3 py-2 rounded-lg text-xs drop-shadow-md ml-2;
  }
  
  .tooltip:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}